__pycache__/
*.pyc
*.pyo
*.pyd
.Python

env/
venv/
.venv/
ENV/

*.pkl
model/*.pkl
*.h5
!model/best_efficientnet.h5
!**/best_efficientnet.h5
*.npy

ptbxl_database.csv
data/raw_*
data/processed/

static/plot.png
static/uploads/
.DS_Store
.vscode/
.idea/
*.log
.ipynb_checkpoints/
